{% extends "base.html" %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        О проекте
      </div>
      <div class="card-body">
        <p>
          Данный сервис предназначен для облегчения работы кассира-оператора регионального аэропорта.
          Предполагается, что авторизованный пользователь является кассиром-оператором
        </p>
        <p>
          Неавторизованные пользователи не могут совершать регистрацию рейса и бронировать рейс. Данные
          задачи может выполнять лишь кассир-оператор. Для записи на рейс необходимо обратиться в кассу аэропорта,
          после чего кассир-оператор зарегистрирует вас на рейс.
        </p>
      </div>
    </div>
  </div>
{% endblock %}